/*
основной черный          #212121
акцент   синий           #2196F3
основной серый           #757575
белый                    #FFFFFF
email & tel footer       rgba(255, 255, 255, 0.6)
основной background      #FFFFFF
вторичный т background   #2F303A
вторичный св background  #F5F4FA
*/

.list {
  list-style: none;
}
.section-title {
  color: var(--title-text-color);
}

/*Qualities*/

.qualities-list .title {
  color: var(--title-text-color);
}

/*Our team*/

.team .title {
  color: var(--title-text-color);
}

/*Button*/

.button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  /*padding: 12px 24px;*/
  display: inline-block;
  border-radius: 4px;
}
.button:hover,
.button:active {
  background-color: var(--accent-color);
}
.primary-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.primary-button:hover,
.primary-button:active {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}

/*Projects*/

.projects .title {
  color: var(--title-text-color);
}
