/*
основной черный          #212121
акцент   синий           #2196F3
основной серый           #757575
белый                    #FFFFFF
email & tel footer       rgba(255, 255, 255, 0.6)
основной background      #FFFFFF
вторичный т background   #2F303A
вторичный св background  #F5F4FA
*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --blue-color: #2196f3;
  --info-footer-color: rgba(255, 255, 255, 0.6);
  --background-footer: #2f303a;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}
.list {
  list-style: none;
}
.section-title {
  color: var(--title-text-color);
}

/*Logo*/

.logo {
  color: var(--title-text-color);
}
/*.logo:hover {
  color: var(--accent-color);
}*/
.logo-part {
  color: var(--blue-color);
}

/*Site nav*/

.nav-link {
  color: var(--title-text-color);
  /*font-size: 14px;*/
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.cont-info {
  color: var(--primary-text-color);
}
.cont-info:hover,
.cont-info:focus {
  color: var(--accent-color);
}

/*Qualities*/

.qualities-list .title {
  color: var(--title-text-color);
}

/*Our team*/

.team .title {
  color: var(--title-text-color);
}

/*Footer*/

.footer {
  background-color: var(--background-footer);
}
.logo-footer {
  color: var(--primary-white-color);
}
.address {
  color: var(--primary-white-color);
}
.info-footer {
  color: var(--info-footer-color);
}

/*Button*/

.button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}
.button:hover,
.button:active {
  background-color: var(--accent-color);
}
.primary-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.primary-button:hover,
.primary-button:active {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
